body {
    background-color: mediumpurple;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:aqua;
    text-align: center;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb();
    display: block;
    margin: auto;
}
a {
    text-decoration: note;
    color: rgb();
}
    .project h3{
        text-align: center;
    }
    .project p {
        text-align: center;
        margin: 15px;
    }